<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- [routerLink]="['/servers',5,'edit']"  -->
      <!-- [routerLink]="['/servers',server.id,server.name,server.status]" -->
      <a
       [routerLink]="['/servers',server.id]"
       [queryParams]="{allowEdit:server.id == '3' ? '1' : '0'}"
       fragment="loading"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <!-- <a routerLink="/servers">Reload via Route Link</a> -->
  <hr>
  <!-- <button class="btn btn-primary" (click)="ReloadPageViaNavigate()">Reload</button> -->
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <!-- <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server> -->
  </div>
</div>

